/*Start Styles*/

* {
    box-sizing: border-box;
}

body {
    margin:0;
    /*font-family:'Arial';*/
    font-family: 'Roboto';

}


/*Header Styles*/

.header {
    position:fixed;
    width:100%;
    padding:5px;
    background: rgb(11, 23, 51);
    z-index: 2;
    
}

.logo {
    font-size:10px;
    text-transform:uppercase;
    color:white;
    background: rgb(11, 23, 51);
    letter-spacing: 3px;
    padding:15px 10px 15px 15px;
    float:left;
    width:80%;
}

.logo-span {
    color:#072a3a;
    background: white;
    padding:3px;
    font-weight: 700;
    
}

.menu {
    text-align: right;
    padding:10px;
    background: rgb(11, 23, 51);
    float:left;
    width: 20%; 
}

.menu button {
     background: rgb(11, 23, 51);
    border: none;
    float:right;
}

.menu button:hover {
    cursor: pointer;
}

.menu button:focus {
    outline:none;
}

.menu a {
    display:block;
    text-decoration: none;
}


.menu-text:hover{
    color:#8af0f0;
    
}



.menu-bar{
    display:block;
    width:18px;
    height:1.5px;
    border-radius:1px;
    background: white;
    margin: 4px 0;
}

.menu-text {
    color:white;
    text-transform: uppercase;
    font-size:10px;
    letter-spacing: 3px;
    transition:color 1s ease 0.2s;
}

.menu-container {
    background: gray;
    position:fixed;
    background: rgb(11, 23, 51);
    opacity:0.9;
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding-left:0;
    display:none;
}


.menu-container:target {
    display:block;
}

.menu-container ul {
    width:100%;
    max-width: 300px;
    margin:auto;
    /*padding-top: 100px;*/
    text-align: center;
    list-style: none;
    transform: translate(-50%, -50%); /*move element along x and y axes*/
    top:50%;
    left:50%;
    position:absolute;
}

.menu-container a {
    display:inline-block;
    color:white;
    width:100%;
    padding:20px 0;
    text-decoration: none;
    border-bottom: 1px solid white;
}



.close {
    color: white;
    font-size: 35px;
    text-align: right;
    position:relative;
    float:right;
    top:5px;
    right:15px;
    display: block;
    text-decoration: none;
}

.close a {
    border-bottom: none;
    padding:0;
}

/*Block Styles*/

.colored-block {
    padding: 120px 0 120px 50px;
    background:#2a354e;
    color:white;
}

.bg-darkblue {
    background: rgba(11, 23, 51, 0.7)
}

.banner-pic {
    background-image:url(../images/banner.jpg);
    background: cover;
}

.bg-aqua {
    background: rgba(114,246,246,0.7);
    transition:background 1s ease 0.2s;

}

.bg-aqua-pic {
    background-image:url(../images/pic01.jpg);
    background: cover;
}

.bg-aqua:hover, .bg-purple:hover, .bg-orange:hover, .bg-yellow:hover, .bg-blue:hover, .bg-green:hover {
    background: rgba(0,0,0,0);
}

.col-5 a, .col-7 a {
    text-decoration: none;
}

.bg-purple {
     background: rgba(155, 89, 182, 0.7);
    transition:background 1s ease 0.2s;
}

.bg-purple-pic {
    background-image:url(../images/pic02.jpg);
    background: cover;
}


.bg-orange {
    background: rgba(254, 158, 72, 0.7);
    transition:background 1s ease 0.2s;
}

.bg-orange-pic {
    background-image:url(../images/pic03.jpg);
    background: cover;
}

.bg-yellow {
    background: rgba(241, 241, 96, 0.7);
    transition:background 1s ease 0.2s;
}

.bg-yellow-pic {
    background-image:url(../images/pic04.jpg);
    background: cover;
}

.bg-blue {
    background: rgba(41, 128, 185, 0.7);
    transition:background 1s ease 0.2s;
}

.bg-blue-pic {
    background-image:url(../images/pic05.jpg);
    background: cover;
}


.bg-green {
    background: rgba(22, 160, 133, 0.7);
    transition:background 1s ease 0.2s;
}

.bg-green-pic {
    background-image:url(../images/pic06.jpg);
    background: cover;
}

.bg-bottom-blue {
    background: #1e283f;
}

/*Block Content Styles*/

.forty {
    border-bottom: 1px solid white;
    width: 800px;
    padding-bottom:20px;
    max-width:90%;
    overflow:hidden;
    font-size:42px;
    letter-spacing: 2px;
}

.forty-text {
    text-transform: uppercase;
    font-size:10px;
    letter-spacing: 2px;
    line-height: 16px;
    overflow:hidden;
    width:40%;
    float:left;
    margin-right:20px;
}

.massa-text {
    font-size:13px;
    letter-spacing: 2px;
    line-height: 16px;
    max-width:80%;
}

.block-underline {
    border-bottom: 1px solid white;
    width: 250px;
    max-width:80%;
    padding-bottom:20px;
    overflow:hidden;
}

.button {
    border: 2px solid white;
    width:170px;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size:12px;
    letter-spacing: 2px;
    float:left;
    margin: 10px 0;
    color:white;
    text-decoration: none;
    transition:color 1s ease 0.2s, border 1s ease 0.2s;
}

a .button:hover {
    border:2px solid #8af0f0;
    color:#8af0f0;
}

.arrow-line {
    border-bottom: 1px solid white;
    padding-bottom:5px;
}

/*Form Styles*/

.form {
    margin:auto;
    width: 90%;
    padding: 10px 0;
}

.form-bg {
    background: #2a354e;
}


.input-name {
    padding: 0.3em 0 0.3px 1.1em;
    min-width:50%;
    float:left;
    
}

.input-email {
    padding: 0.3em 0 0.3em 0;
    min-width:50%;
    float:left;
    
}


.input-message {
     padding: 0.3em 1em;
}

.input-message textarea {
    height:10em;
    min-width:87%;
    width:21em;
    background: #1e283f;
    border:none;
    font-size:12px;
    color:white;
    padding: 0.3em 0.5em;
}

input[type=text] {
    background: #1e283f;
    border:none;
    font-size:12px;
    color:white;
    padding: 0.7em 0.5em;
    width:68%;
}

input[type=submit] {
    background: white;
    border:none;
    padding:10px 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size:11px;
    letter-spacing: 2px;
    transition:background 1s ease 0.2s;
}

input[type=submit]:hover{
    background: #8af0f0;
    cursor: pointer;
}

input[type=reset] {
    background: #2a354e;
    color:white;
    border: 2px solid white;
    padding:10px 10px;
    text-transform: uppercase;
    font-size:11px;
    letter-spacing: 2px;
    transition: color 1s ease 0.2s, border 1s ease 0.2s;
}

input[type=reset]:hover {
    border: 2px solid #8af0f0;
    cursor: pointer;
    color: #8af0f0;
}

.form p {
    text-transform: uppercase;
    font-size:12px;
    letter-spacing: 2px;
}

.form-buttons {
    padding: 10px 20px;
}

/* Contacts */
.contacts {
    padding: 50px 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:334.4px;
}

.email {
    font-size:1em;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 0.2em 0 0 0.7em;
    display:block;
    width:90%;
    float:left;
    
    
    
}

.email::after {
    clear:both;
    content: '';
    display:block;
    visibility: hidden;
    
}

.email+a, .address {
    color: rgba(212, 212, 212, 0.5);
    font-size:0.9em;
    text-decoration: underline;
    text-decoration-style:dotted;
    float:left;
    padding-left:0.8em;
    transition:color 1s ease 0.2s;
    
    
}

.email+a:hover {
    color: #8af0f0;
    text-decoration: none;
}

.email-icon::before {
    font-family: FontAwesome;
    content: "\f0e0";
    font-size:1.2em;
    float:left;
    color: #1e283f;
    padding: 0 0 0.1em 0.3em;
    
}

.phone-icon::before {
    font-family: FontAwesome;
    content: "\f095";
    font-size:1.2em;
    float:left;
    color: #1e283f;
    padding: 0 0 0.1em 0.4em;
    
}


.address-icon::before {
    font-family: FontAwesome;
    content: "\f015";
    font-size:1.2em;
    float:left;
    color: #1e283f;
    padding: 0 0 0.1em 0.4em;
       
}

.circle {
    background-color: white;
    border-radius: 100%;
    display:inline-block;
    height:2em;
    width:2em;
    line-height:2em;
    float:left;
    
    
   
}

/* Social */
.social {
    display:flex;
    justify-content: flex-start;
}

.social a {
    color:#1e283f;
    text-decoration: none;
}

.twitter-icon::before {
    font-family: FontAwesome;
    content: "\f099";
    font-size:1.2em;
    
    
    
}

.face-icon::before {
    font-family: FontAwesome;
    content: "\f09a";
    font-size:1.2em;
    
    
}

.insta-icon::before {
    font-family: FontAwesome;
    content: "\f16d";
    font-size:1.2em;
    
    
}

.git-icon::before {
    font-family: FontAwesome;
    content: "\f09b";
    font-size:1.2em;
   
    
}

.linked-icon::before {
    font-family: FontAwesome;
    content: "\f0e1";
    font-size:1.2em;
   
    
}

a.icon {
    background-color: white;
    border-radius: 100%;
    display:inline-block;
    height:2em;
    width:2em;
    line-height:2em;
    text-align:center;
    margin-right:1.5em;
   
}


/* Copywright */

ul.copy {
    padding-left: 0;
}
ul.copy li {
    list-style-type: none;
    float: left;
    font-size: 0.8em;
    color: rgba(212, 212, 212, 0.5);
    display:inline;
    padding: 0 0.3em;
}

ul.copy li a {
    color: rgba(212, 212, 212, 0.5);
    text-decoration: underline;
    text-decoration-style:dotted;
    transition:color 1s ease 0.2s;
}

ul.copy li a:hover {
    color: #8af0f0;
    text-decoration: none;
}

ul.copy li:after {
    content: " | ";
    color: rgba(212, 212, 212, 0.5);
}

ul.copy li:last-child:after {
    content: none;
}

span.htmls-footer {
    text-transform: uppercase;
}

/* Mobile Version */

@media all and (max-width: 800px) {

    /**/

}
