body {
    -webkit-animation: bg 20s infinite;
    -moz-animation: bg 20s infinite;
    -o-animation: bg 20s infinite;
    animation: bg 20s infinite;
}

@keyframes bg {
    0% {
        background-image: url(../static/background/bg1.jpg);
    }
    
    20%{
       background-image: url(../static/background/bg2.jpg);
    }
    
    40%{
        background-image: url(../static/background/bg3.jpg);
    }
    60 {
        background-image: url(../static/background/bg1.jpg);
    }
    
    80%{
       background-image: url(../static/background/bg2.jpg);
    }
    
    100%{
        background-image: url(../static/background/bg1.jpg);
    
}