* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.hrlink {
   text-decoration: none;
   color: white;
}
.hrlink:hover {
   text-decoration: none;
   color: red;
}
.column-1 {
	background: green;
	width: 33.33%;
	border:0px solid;
	float: left;
  }
  .column-2 {
	background: green;
	width: 33.33%;
	border:0px solid;
	float: right;
  }
  .column-3 {
	background: green;
	width: 33.33%;
	border:0px solid;
	float: right;
  }
.header {
	background-image: url(/designe_ap/images/banner.jpg);
	background-size: cover;
	}	
.bg-header {
	background: rgba(38, 37, 64, 0.81);
	background-size: cover;	

}
.aqua {
	background-image: url(/designe_ap/images/pic01.jpg);
	background-size: cover;
	}	  
.bg-aqua {
background: rgba(64, 173, 208, 0.85);
height: 179px;
}
.resize-block {
margin-bottom: 23px;
}
.purple {
	background-image: url(/designe_ap/images/pic02.jpg);
	background-size: cover;
	}
.bg-purple {
background: rgba(133, 95, 156, 0.85);
height: 179px;
}
.orange {
	background-image: url(/designe_ap/images/pic03.jpg);
	background-size: cover;
	}
.bg-orange {
background: rgba(202, 95, 89, 0.85);
height: 179px;
}
.yellow {
	background-image: url(/designe_ap/images/pic04.jpg);
	background-size: cover;
	}
.bg-yellow {
background: rgba(216, 171, 114, 0.85);
height: 179px;
}
.blue {
	background-image: url(/designe_ap/images/pic05.jpg);
	background-size: cover;
	}
.bg-blue {
background: rgba(127, 155, 220, 0.85);
height: 179px;
}
.green {
	background-image: url(/designe_ap/images/pic06.jpg);
	background-size: cover;
	}
.bg-green {
background: rgba(149, 199, 140, 0.85);
height: 179px;
}
.right-1 {
	float: right;
	display: block;
	
	letter-spacing: 2px;
	height: 100%;
	top:0px;
	padding: 0px 14px 0px 0px ;
	margin: 0px;
	font-size: 11px;
    font-family: calibri;
    color: white;
    cursor: auto;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: white;
    max-width:72px;
    min-width: 70px;

}
.left-1 {
	float: left;
	display: block;
	width: 100%;
	letter-spacing: 2px;
	height: 100%;
	top:0%;
	padding: 0px 0px 0px 0px ;
	margin: 0px;
	font-size: 11px;
    font-family: calibri;
    color: white;
    max-width: 180px;
    min-width: 170px;
}
.margin-top {
   	margin-top: -40px;
}
.left-padding {
	padding: 50px 0px 50px 10px;
	word-spacing: 5px;

}
.inverse {
	background-color: white;
	color: black;
}	
.arial {
	font-size: 26px;
    font-family: calibri;
    color: white;
}
.arial_1 {
	font-size: 8px;
    font-family: calibri;
    color: white;
    width: 260px;
    letter-spacing: 2px;	
}
.arial_2 {
	font-size: 16px;
    font-family: calibri;
    color: white;
    letter-spacing: 1px;
}
.button {
	font-size: 11px;
    font-family: calibri;
    color: white;		
	border: 1px solid white;
	padding: 7px;
	text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: white;
    letter-spacing: 1px;

    }
.button:hover {
   text-decoration: none;
   color: red;
}
.hr_header {
	margin-left: 0px;
	margin-right: 0px;
	width: 700px;
}	
.hr_block {
	margin-left: 0px;
	margin-right: 0px;
	width: 120px;
}
.header_name {
	max-width: 284px;
	min-width: 281px;
}
.header_text_row {
	margin-bottom: 13%;
	max-width: 434px;
	min-width: 432px;
} 
.header_text_col {
	max-width: 284px; 
	min-width: 281px;
}
.header_button_col {
	margin-top: 7px; 
	min-width: 150px;
}