*{
	box-sizing: border-box;
}
body{
	margin:0;
}
.header{
	width: 100%;
	height: 100px;
}
.header{
	width: 100%;
	height: 100px;
}
#logo{
	width:100px;
	height:100px;
}
.top_menu li{
	text-decoration: none;
	list-style: none;
	display: inline;
	margin:10px;
	color:green;
	font-size: 1.5em;
	font-family: 'Fira Sans Condensed', sans-serif;

}
.top_menu li+li{
	border-left:  2px solid green;
	padding-left: 1em;


}

.top_menu{
	float: right;
	margin-right: 10%;
	margin-top: 2%;
}

#insta, #vk {
	width: 30px;
	height: 30px; 
}

.sc {
	text-decoration: none;
	list-style: none;
	float: right;
	position: absolute;
	left: 90%;
	top: 3%;

}
.sc li{
	text-decoration: none;
	display: inline;
}



.conor{
	width: 100%;
	height: 1024px;
	background-image: url(img/2-1-3.png);
	background-repeat: no-repeat;

}
.fon{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}
.conorBiog1{
	clear: both;
	width: 100%;
	height: 200px;
	background: green;
}

.conorBiog2{
	width: 100%;
	height: 1024px;
	background-image: url(img/2-1-3.png);
	background-repeat: no-repeat;
}
.conorBiog3{
	width: 100%;
	height: 200px;
	background: grey;
}

.conorBiog4{
	width: 100%;
	height: 1024px;
	background-image: url(img/2-1-3.png);
	background-repeat: no-repeat;
}