* {
    box-sizing: border-box;
}
body {
    margin:0;
}
.column {
    background: green;
    width: 50%
    border: 1px solid black;
    float:left;
}
.colored-block {
    padding: 50% 0% 50% 50%;
    background: #322048;
    color: #fff
}
.bg-aqua {
    background: aqua;
}
.bg-purple {
    background: purple;
}
.bg-blue {
    background: blue;
}
.bg-green {
    background: green;
}
