* {
   box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.column {
    width: 33.33%;
    border: 1px solid black;
    float: left;
}

.colored-block {
    padding: 50px 0 50px 50px;
    background-color: #322048;
    color: #ffffff;
}

h1, 
h2 {
    display: block;
}

.bg-darkblue {
    background-color: rgba(42, 47, 74, 0.75);
}

.top-block-pict {
    background-image: url('../images/banner.jpg');
    background-size: cover;
}

.bg-aliquam {
    background-color: rgba(111, 195, 225, 0.8);
}

.aliquam-pict {
    background-image: url('../images/pic01.jpg');
    background-size: cover;
    
}

.bg-tempus {
    background-color: rgba(141, 130, 196, 0.8);
}

.tempus-pict {
    background-image: url(../images/pic02.jpg);
    background-size: cover;
}

.bg-magna {
    background-color: rgba(236, 141, 129, 0.85);
}

.magna-pict {
    background-image: url(../images/pic03.jpg);
    background-size: cover;
}

.bg-ipsum {
    background-color: rgba(231, 183, 136, 0.8);
}

.ipsum-pict {
    background-image: url("../images/pic04.jpg");
    
}

.bg-consequat {
    background-color: rgba(142, 169, 232, 0.85);
}

.consequat-pict {
    background-image: url("../images/pic05.jpg");    
}

.bg-etiam {
    background-color: rgba(135, 195, 165, 0.85);
}

.etiam-pict {
    background-image: url("../images/pic06.jpg");
}

.bg-smokyblue {
background: #242943;    
}

p {
    text-transform: uppercase;
}

.no-upper {
    text-transform: none;
}

.header {
    padding: 15px;
    position: fixed;
    width: 100%;
    background: #322048;
}

.logo {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    width: 80%;
    float: left;
}

.logo span {
    color: #322048;
    background: #fff;
    padding: 3px;
    letter-spacing: 2px;
}

.logo:hover {
    color: aquamarine;    
}

.menu {
    text-align: right;
  }

.menu button {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    background: #322048;
    border: none;
}

.menu button:hover {
    color: aquamarine;
}


.menu-container {
    background: rgba(36, 41, 67, 0.9);
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.menu-container ul {
    padding-left: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    list-style-type: none;
    width: 100%;
    max-width: 300px;
    margin: auto;
    transform: translate(-50%, -50%);
    
}

.menu-container a {
    color: #fff;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.form {
    display: block;
    margin: auto;
}

.field-top {
    float: left;
    width: 50%;
    margin-bottom: 2em;
}

.field-top:after {
    content: "";
    display: block;
    height: none;
    clear: both;
}

input[type="text"] {
    background: #242943;
    border: none;
    height: 2.75em;
    width: 85%;
}

textarea#message {
    display: block;
    width: 100%;
    background: #242943;
    border: none;
}

ul.actions > li {
    list-style: none;
    text-decoration: none;
    padding: 10px;
    }

label {
    display: block;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.icons {
    display: inline-block;
    position: relative;
    background-color: #fff;
    border-radius: 100%;
    width: 2.5em;
    height:2.5em;
}

.icons > .fa {
    color: #242943;
    position: absolute;
    top: 50%;
    left: 50%;
}