@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v9-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: PT Sans;
}

.column {
    background: green;
    width: 33.33%;
    border: 1px solid;
    float: left;
}

.col {
    width: 280px;
    word-wrap: break-word;
}

/*Стили тэгов*/

div h1 {
    border-bottom: 1px solid white;
    padding: 0 0 20px 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 90%;
    display: inline-block;
}

div h3 {
    font-weight: normal;
    border-bottom: 1px solid white;
    padding: 0 0 10px 0;
    width: 20vw;
    margin-bottom: 5px;
}

div h4 {
    font-weight: normal;
    padding: 0 0 10px 0;
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 10px;
}

div h5 {
    font-size: 10px;
    font-weight: lighter;
    margin: 20px 0;
    width: 100%;
}

div h6 {
    font-size: 10px;
    font-weight: lighter;
}

div h7 {
    font-size: 8px;
    font-weight: lighter;
    margin: 0;
    width: 100%;
}

div a {
    color: white;
    text-decoration: none;
}

/*Стили элементов*/

.info {
    font-size: 90%;
    font-weight: lighter;
    line-height: 140%;
}

.one {
    clear: left;
}

/*Оформление блоков*/

.coloured-block {
    padding: 100px 0 100px 50px;
    color: white;
}

.foto-1 {
    background-image: url(../images/banner.jpg);
    background-size: cover;
}

.foto-2 {
    background-image: url(../images/pic01.jpg);
    background-size: cover;
}

.foto-3 {
    background-image: url(../images/pic02.jpg);
    background-size: cover;
}

.foto-4 {
    background-image: url(../images/pic03.jpg);
    background-size: cover;
}

.foto-5 {
    background-image: url(../images/pic04.jpg);
    background-size: cover;
}

.foto-6 {
    background-image: url(../images/pic05.jpg);
    background-size: cover;
}

.foto-7 {
    background-image: url(../images/pic06.jpg);
    background-size: cover;
}

.bg-0 {
    background-color: rgba(32, 40, 69, 0.9);  
}

.bg-1 {
    background: rgba(122, 192, 216, 0.9);
}

.bg-2 {
    background: rgba(126, 119, 180, 0.9);
}

.bg-3 {
    background: rgba(215, 134, 126, 0.9);
}

.bg-4 {
    background: rgba(215, 172, 133, 0.9);
}

.bg-5 {
    background: rgba(126, 151, 206, 0.9);
}

.bg-6 {
    background: rgba(121, 175, 150, 0.9);
}

.bg-7 {
    background: #1f3a57  
}

.bg-8 {
    background: #202845;
}

/*Наплыв*/

.bg-1:hover {
    background-color: transparent;
    transition: 1.2s linear;
}

.bg-2:hover {
    background-color: transparent;
    transition: 1.2s linear;
}

.bg-3:hover {
    background-color: transparent;
    transition: 1.2s linear;
}

.bg-4:hover {
    background-color: transparent;
    transition: 1.2s linear;
}

.bg-5:hover {
    background-color: transparent;
    transition: 1.2s linear;
}

.bg-6:hover {
    background-color: transparent;
    transition: 1.2s linear;
}

/*Стиль кнопок*/

div button {
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: none;
  outline: none;
}

.button {
    color: white;
    width: 99px;
    display: inline-block;
    padding: 5px 10px; 
    text-decoration: none;
    border: 1px solid white;
    font-size: 10px;
    margin-top: 20px;
    height: 25px;
}

.button:hover {
    color: aqua;
    border: 1px solid aqua;
}