
.page1 {
	margin-top: 20px;
	background-image: url(img/kriminal1.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0;
	min-height: 1000px;
	min-width: 800px;

}


a{
	text-decoration: none;
	color: black;
}
a: visited {
	color: gold;
}
a: active {
	color: red;
}
p{
width: 50%;}
