
body{
  margin: 0;
  box-sizing: border-box;
  background: url(img/grn.jpeg);
}

/*---------------------------Верхнее меню----------------------------*/
.menu-top ul {
background: rgba(0,0,0,0.1);/* Цвет фона меню и его прозрачность*/
overflow: hidden; 
margin: 0;
background: rgba(0, 0, 0, 0.53);

}
.menu-top li {
list-style: none;/* убираем маркеры списка*/
float: right;/* начало списка*/
font-family: Times New Roman ;/* стиль текста*/
font-size: 20px;/*Размер шрифта*/
vertical-align:middle;
text-align: center;
}

.menu-top a {
text-decoration: none;/*Убираем подчеркивание ссылок*/
display: block;/*закрепляем отступы*/
padding: 1em;
color: rgba(255, 255, 255, 0.61);
position: relative;
}
.menu-top{

}
/*---------------------------Основная часть ----------------------------*/
.onepage{
  position: fixed;
/*  background: url(img/grn.jpeg); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 1000px;
  opacity: 0.9;



}
.lotos{}

.lotos{
  margin-top: 150px;
  background: url(img/lotos2.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top;
  position: relative;
  opacity: 0.4;
  width: 100%;
  height: 100%;


}