h1,h2 {
  text-align: center;
    color: blueviolet;
    }

#madrid {
    color: blue;
    font-kerning: normal;
    font-family: sans-serif;    
}
.undecima {
    word-break: normal;
    text-shadow: 30px 30 px 10px blue;
    color: red;
}
