<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>php_Lab9 Main page</title>
    <link rel="stylesheet" href="../asset/css/style.css">
</head>
<body>
    <header>
        <button onclick="window.location='/Main/addNews'">Add news</button>
        <button onclick="window.location='/Admin/mainPage'">Admin users</button>
        <button onclick="window.location='/Authorization/logoutUser'">Logout</button>
    </header>
    <div class="newsContainer">%s</div>
</body>
</html>