* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial;
 }

.bg-menu-pic {
    background-image: url(banner.jpg);
    background-size: cover;
}

.colored-menu {
    background: rgba(36, 41, 67, 0.85);
    color: #ffffff;
    height: 520px;
}
.forty {
    font-size: 0.8em;
    margin-top: 10px;
    margin-left: 30px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    float: left;
}
.forty span {
    background-color: #ffffff;
    color: #242943;
    padding: 5px;
}
.menu {
    float: right;
    margin: 10px;
    margin-right: 30px;
}
.menu a:hover {
    color: #3498db;
}
.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}
.hamburger {
    font-size: 150%;
}
.banner {
    padding: 5%;
    clear: both;
    padding-top: 300px;
     background-image: url(banner.jpg);
    color: #ffffff;
    padding-right: 120px;
}
h1 {
    border-bottom: 2px solid #ffffff;
    clear: both;
    width: 100%
    
}
.banner p {
    padding: 0;
    padding-right: 10px;
    margin: 0;
    font-size: 0.4em;
    text-transform: uppercase;
    width: 50%;
    letter-spacing: 0.2em;
    float: left;
}
.banner-two {
    padding-top: 35px;
    color: #ffffff;
}
.button {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 15px 30px;
    font-size: 0.5em;
    font-weight: bolder;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.button:hover {
    color: #3498db;
    border: 2px solid #3498db;
}
.bg-aqua  {
    background: rgba(111, 195, 223, 0.85);
}
.bg-aqua-pic {
    background-image: url('pic01.jpg');
    background-size: cover;
}
.bg-purple {
    background: rgba(141, 130, 196, 0.85);
}
.bg-purple-pic {
    background-image: url('pic02.jpg');
    background-size: cover;
}
.bg-orange {
    background: rgba(236, 141, 129, 0.85);
}
.bg-orange-pic {
    background-image: url('pic03.jpg');
    background-size: cover;
}
.bg-yellow {
    background: rgba(231, 183, 136, 0.85);
}
.bg-yellow-pic {
    background-image: url('pic04.jpg');
    background-size: cover;
}
.bg-blue {
    background: rgba(142, 169, 232, 0.85);
}
.bg-blue-pic {
    background-image: url('pic05.jpg');
    background-size: cover;
}
.bg-green {
    background: rgba(135, 197, 164, 0.85);
}
.bg-green-pic {
    background-image: url('pic06.jpg');
    background-size: cover;
}
.colored-block {
    padding: 150px 0 0 80px;
    height: 400px;
    color: #ffffff;
}
.colored-block:hover {
    background: none;
}
.header {
    background-color: #322048;
    padding: 20px;
    position: fixed;
    width: 100%;
    float: left;
    opacity: .8;
}
h3 {
    margin: 10px 0;
    font-size: 1em;
}
.logo {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    float: left;
    
}
.text-block {
    border-top: 2px solid #ffffff;
    display: inline;
    padding: 15px 10px 0 0; 
    font-size: 0.4em;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.bg-Massa-libero {
    background-color: rgba(33, 40, 66,1.0);
}
.bg-Massa-libero h3 {
    border-bottom: 2px solid #ffffff;
    display: block;
    padding-bottom: 13px;
    margin-bottom: 35px;
}
.bg-Massa-libero p {
    margin: 0;
    margin-bottom: 30px;
    font-size: 0.5em;
    width: 90%;
}
.bg-Massa-libero .colored-block {
    padding: 90px 0 0 80px;
}
.feedback {
    background: rgba(16, 22, 43,0.95);
    height: 600px;
}
label {
    color: #ffffff;
    font-size: 0.5em;
    font-weight: bolder;
    margin: 0;
    text-transform: uppercase;
}
input {
    display: block;
    margin-top: 15px;
    border: none;
    width: 300px;
    height: 50px;
    background: rgba(33, 40, 66,1.0);
}
textarea {
    display: block;
    margin-top: 15px;
    border: none;
    width: 630px;
    height: 200px;
    background: rgba(33, 40, 66,1.0);
}
form{
    width: 60%;
    float: left
}
.name {
    float: left;
    margin: 50px 30px 30px 80px;
}
.email {
    float: left;
    margin: 50px 30px 30px 0;
}
.message {
    clear: both;
    margin-left: 80px;
    width: 630px;    
}
li {
    display: inline-block;
}
.submit {
    background-color: #ffffff;
    color: #242943;
    margin-left: 40px;
    padding: 15px 30px;
    font-size: 0.5em;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: 2px solid #ffffff;
    width: 250px;
}
.reset {
    color: #ffffff;
    padding: 15px 30px;
    font-size: 0.5em;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: 2px solid #ffffff;
    width: 150px;
    margin-left: 20px;
}
.contacts {
    left: 0px;
    top: 0px;
    float: right;
    width: 40%;
    margin-top: 50px;
    padding-left: 20px;
}
.contacts .item {
    margin-bottom: 40px;
    padding-left: 80px;
}
.contacts span {
    color: #ffffff;
    font-size: 0.5em;
}
.contacts h3 {
    color: #ffffff;
    font-size: 0.8em;
    margin: 0;
}
.contacts a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px dotted #ffffff;
    font-size: 0.5em;
    border-bottom-color: currentColor;
}
.contacts a:hover {
    color: #3498db;
    border-bottom: none;
}
#nav,#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background-color: rgba(36, 41, 67, 0.85);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    display: table;
    padding: 10px;
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
#nav ul {
    background-color: rgba(36, 41, 67, 0.85);
    border:1px solid rgba(36, 41, 67, 0.85);;
    border-radius: 0 5px 5px 5px;
    border-width: 0 1px 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    left: -9999px;
    overflow: hidden;
    padding: 20px 0 10px;
    position: absolute;
    top: -9999px;

    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);

    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

    -moz-transition: -moz-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;
}
#nav li {
    float: left;
    position: relative;
}
#nav li a {
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    padding: 7px 20px;
    text-decoration: none;
}
#nav li:hover > a {
    background-color: rgba(36, 41, 67, 0.85);
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
#nav li:hover > a.hsubs {
/*    border-radius: 5px 5px 0 0;*/
}
#nav li:hover ul.subs {
    left: 0;
    top: 34px;
    width: 180px;

    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
}
