#day-calender
{
    display: flex;
    flex-direction: column;

    margin: 5px;

    text-align: center;

    border: solid black 2px;
    background-color: #ffb841;

    align-items: center;
    justify-content: center;
}

form input
{
    width: 100%;
}

h1
{
    display: block;
}

img
{
    height: 500px;
}

p
{
    display: block;
}

#day-calender form div
{
    margin-top: 5px;
    margin-bottom: 5px;
}
#day-calender form div label
{
    display: block;
}

#firstMenu
{
    display: flex;

    text-align: center;

    background-color: #ffb841;

    align-items: center;
    justify-content: space-around;
}

#firstMenu div:first-child
{
    border: 2px solid black;
}

#headerFilter
{
    display: flex;

    text-align: center;

    align-items: center;
    justify-content: center;
}
#filterHREF
{
    font-size: 50px;
}
