@font-face {
    font-family: "SourceSansProRegular";
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot");
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SourceSansProLight";
    src: url("../fonts/SourceSansProLight/SourceSansProLight.eot");
    src: url("../fonts/SourceSansProLight/SourceSansProLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SourceSansProLight/SourceSansProLight.woff") format("woff"),
    url("../fonts/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SourceSansProBold";
    src: url("../fonts/SourceSansProBold/SourceSansProBold.eot");
    src: url("../fonts/SourceSansProBold/SourceSansProBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SourceSansProBold/SourceSansProBold.woff") format("woff"),
    url("../fonts/SourceSansProBold/SourceSansProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background: #242943;
}

* {
    color: #fff;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.line-520 > div {
    /*height: 520px;*/
    height: calc(100vw * 300.0 / 1280.0);

}

.top-block > h1 {
    font-size: 3.25em;
    line-height: 2.5em;
}

.top-block > h1, .line-520 h1, .bottom-block h1, .generic-page-content h1, .landing-row h1 {
    border-bottom: 2px solid #fff;
}

#header {
    background-color: #2a2f4a;
    /*position: absolute;*/
    text-transform: uppercase;
    font-size: 1.3em;
    width: 100%;
    padding: 20px;
    z-index: 100000;
    /*width: 100%;*/
    position: fixed;
    top: 0;
    bottom: auto;
}

#header a:hover {
    color: #79bfd6;
}

#header .col-1 {
    text-align: right;
}

#header strong {
    background-color: #ffffff;
    color: #242943;
    padding: 5px;
    margin-right: 10px;
}

.line-520 h1, .bottom-block > h1, .generic-page-content h1 {
    line-height: 2em;
    width: calc(200% + 0.7em);
}

.line-520 > div {
    /*padding: 8% 5%;*/
}

.line-520 > div > div > div, .bottom-block > div {
    max-width: max-content
}

.line-520 > div > div {
    z-index: 100;
    position: absolute;
    padding: 8% 5%;
    height: inherit;
    width: inherit;
}

.line-520 p {

    margin: 0.2em;
}

.line-520 > div, .top-block {
    background-repeat: no-repeat;
    background-size: cover;
}

.line-520 > div::before {
    content: "";
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    display: block;
    height: inherit;
    opacity: 0.85;
    position: absolute;
    width: inherit;
    z-index: 2;

}

.line-520 > div:hover::before {
    opacity: 0;
}

.first-left {
    background-image: url("../images/pic01.jpg");
}

.first-left::before {
    background-color: #79bfd6;
}

.first-right {
    background-image: url("../images/pic02.jpg");
}

.first-right::before {
    background-color: #8077b4;
}

.second-left {
    background-image: url("../images/pic03.jpg");
}

.second-left::before {
    background-color: #d48178;
}

.second-right {
    background-image: url("../images/pic04.jpg");
}

.second-right::before {
    background-color: #dcb28a;
}

.third-left {
    background-image: url("../images/pic05.jpg");
}

.third-left::before {
    background-color: #96aee3;
}

.third-right {
    background-image: url("../images/pic06.jpg");
}

.third-right::before {
    background-color: #74b39d;
}

.top-block-background {
    background-image: url("../images/banner.jpg");
    height: 625px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.top-block-background-landing {
    background-image: url("../images/pic07.jpg");
    height: 525px;
}

.top-block {
    position: absolute;
    z-index: 200;
    top: 180px;
    padding: 0 20%;
}

.top-block-landing {
    top: 120px;
}

.top-row::before {
    background-color: #242943;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.top-row {
    position: relative;
}

.top-row-landing::before {
    background-color: #8d82c4;
}

.started-button {
    border: 2px solid #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 20px;
    width: max-content;
    float: left;
}

a {

    text-decoration: none;
}

.reset:hover {
    border: 2px solid aqua;
    color: aqua;
}

.started-button {
    cursor: pointer;
}

.colored-block p, .colored-block div {
    float: left;
}

.colored-block p {
    font-size: 1.1em;
}

.arrow-second {
    font-size: 2.3em;
    position: absolute;
    margin-top: -25px
}

.bottom-block {
    background-color: #2a3049;
    padding: 10% 20%;
}

.form-block, .footer {
    background-color: #252943;
}

.footer {
    padding: 5% 10%;
}

.footer a {
    margin-right: 1%;
}

.form-block {
    padding: 0 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.form-block .col-7 {
    padding: 3% 0;
}

.reset {
    background-color: transparent;

}

.send {
    background-color: #ffffff;
    color: #252943;
    border: 2px solid #252943;
}

.send:hover {
    background-color: aqua;
}

.form-block input[type=submit],
.form-block input[type=reset] {
    font-size: 1.2em;
    width: max-content;;
}

.form-block input[type=text], .form-block textarea {
    background-color: rgba(212, 212, 255, 0.035);
    width: 100%;
    border: none;
    font-size: 17pt;
    padding: 1em;
    margin-bottom: 40px;
}

.form-block input[type=text] {
    width: 90%;
}

.form-block i {
    margin: 20% 30%;
}

.form-block textarea {
    width: 95%;
}

.form-block label {
    font-size: 1.5em;
}

.form-block .col-10 p:first-child {
    font-size: 2em;
}

.alt {
    background-color: #ffffff;
    border-radius: 100%;
    color: #242943;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
    font-size: 25px !important;
    padding: 12px;
}

.form-block .col-5 .col-12 {
    padding: 3.5% 0;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.form-block .col-5 .col-12 + .col-12 {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.block-link {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

/*-------------------*/
.generic-page-content {
    padding: 5% 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.generic-page-content h1 {
    width: calc(10% + 0.7em);
    font-size: 3em;
}

.generic-page-content p {
    font-size: 1.3em;
    padding: 1% 0;
}

.generic-page-content img {
    width: 90%;
    margin: 0 5%;
}

.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}

.modal-dialog:target {
    display: block;
    pointer-events: auto;
}

.modal-dialog > div {
    width: 100%;
    background-color: rgba(36, 41, 67, 0.9);
    height: 100vh;
    position: relative;
    padding: 5px 20px 13px 20px;
}

.close {
    font-size: 2em;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    top: 70px;
    font-weight: bold;
}

.close i:hover {
    color: aqua;
}

.menu {
    display: inline-block;
    margin: 5% 40%;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
}

.menu li {
    list-style: none;
    padding: 10%;
    width: 150%;
}

.menu .links li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu .links li:last-child {
    border-bottom: none;
}

.menu .actions li {
    /*width: 300px;*/
    border: 1px solid #fff;
    font-size: 17pt;
    padding: 1em;
    margin-bottom: 40px;
}

.menu .actions li:first-child a {
    color: #252943;
}

.menu .actions li a {
    width: 100%;
}

.landing-image {
    width: 100%;
}

.landing-row .col-9 {
    padding: 5% 5%;
}

.landing-row .bottom-block {
    padding: 7% 20%;
}

.landing-row .h1 {
    width: max-content;
}

.landing-row:nth-child(even) {
    background-color: #2e3450;
}

.landing-row:nth-child(odd) {
    background-color: #333856;
}

.copyright li {
    float: left;
    list-style: none;

}

.copyright {
    padding: 0;;
}

.copyright * {
    color: rgba(244, 244, 255, 0.2)
}

.copyright a {
    border-bottom: dotted 1px;
}

.copyright a:hover {
    border-bottom: none;
}

.copyright li:first-child {
    padding-right: 2%;
}

.copyright li + li {
    border-left: 2px solid rgba(255, 255, 255, 0.1);
    padding: 0 2%;
}

@media all and (max-width: 480px) {
}

@media all and (min-width: 992px) and (max-width: 1279px) {
    #header .col-11 {
        width: 80%;
    }

    #header .col-1 {
        width: 20%;
    }

    .form-block i {
        margin: 60% 10%;
    }

    .form-block .col-5 .col-10 {
        width: 80%;
    }

    .form-block .col-5 .col-2 {
        width: 20%;
    }

    form > .col-3, form > .col-9 {
        width: 50%;
    }

    .menu {
        margin: 5% 30%;
    }

    .close {
        top: 70px;
    }
}

@media all and (max-width: 991px) {
    .top-block {
        padding: 4%;

    }

    .top-block h1 {
        font-size: 2em;

    }

    .bottom-block {
        padding: 10% 6% 30% 6%;
    }

    .line-520 > div {
        height: calc(100vw * 300.0 / 480.0);
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        float: none;
        width: 100%;
    }

    .form-block input[type=text], .form-block textarea {
        width: 100%;
    }

    .form-block {
        padding: 0;
    }

    .form-block .col-7 {
        padding: 3% 6%;
    }

    #header .col-11 a span {
        display: none;
    }

    #header .col-1 a span span {
        display: none;
    }

    #header .col-1, #header .col-11 {
        float: left;
    }

    #header .col-11 {
        width: 80%;
    }

    #header .col-1 {
        width: 20%;
    }

    .form-block .col-5 .col-12 {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-left: none;
    }

    .form-block .col-5 i {
        float: left;
        margin: 13% 5%;
    }

    .menu {
        margin: 5% 0 0 0;
    }

    .modal-dialog > div {
        padding: 0;
    }

    .menu li {
        width: 140%;
    }

    form {
        padding-bottom: 30%;
    }
}

@media all and (min-width: 768px) and (max-width: 990px) {
    .form-block .col-5 i {
        margin: 6% 5%;
    }
}

@media all and (max-width: 480px) {

    .menu {
        margin: 15% 5%;
    }
}
@media all and (max-width: 360px) {

    .menu {
        margin: 15% 0;
    }
}
@media all and (max-width: 320px) {

    .menu {
        margin: 15% -5%;
    }
}
@media all and (max-width: 400px)  and   (min-width: 361px){

    .menu {
        margin: 15% 3%;
    }
}
