.statistics {
	background-color: grey;
	color: black;
	border:2px solid black;
	background: linear-gradient(to top, white, black);
	height: 300px;
}

table{
	font-size: 20px;
	border-collapse: collapse;
}
th , td{
border: 1px solid black;
border-collapse: collapse;
}

.menu{
	background: linear-gradient(to top, black, white);
}
.menu ul {
background: rgba(0,0,0,0.1);/* Цвет фона меню и его прозрачность*/
overflow: hidden;/* элемент во всю ширину*/
padding-left: 5%;/*Отступ меню слева*/
}

.menu li {
border: 1px solid gold;
border-radius: 50%;
list-style: none;/* убираем маркеры списка*/
float: left;/* начало списка*/
font-family: Verdana, impact, Times New Roman ;/* стиль текста*/
font-size: 20px;/*Размер шрифта*/
}

.menu a {
text-decoration: none;/*Убираем подчеркивание ссылок*/
display: block;/*закрепляем отступы*/
padding: 1em;
color: gold;
}

body{
background-color: black;
}

h3 {
	color: black;
	font-size: 150%;
	font-family: 'Verdana', 'Times New Roman' }

h2 {
	color: black;
	font-size: 150%;
	font-family: 'Verdana', 'Times New Roman' ;
}
p {
	font-family: 'Futura pro bold', 'Times New Roman' ;
	font-size: 120%;
	color: gold;

}
i {
	color: gold;
}
a{
	text-decoration: none;
	color: orange;
}
a: visited {
	color: gold;
}
a: active {
	color: red;
}
.text-page1{

	width: 50%;
	min-width: 400px;
	height:800px ;
	min-height: 500px;
	background: rgba(0,0,0,0.8);
}

.text-page2, .text-page3, .text-page4{
	width: 50%;
	min-width: 400px;
	height:800px ;
	min-height: 500px;
	background: rgba(0,0,0,0.8);
}
.page1 {
	margin-top: 20px;
	background-image: url(img/page.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0;
	z-index:11 ;
	 }
.page2 {
	background-image: url(img/kriminal2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0;
	 }
.page3 {
	background-image: url(img/dead.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	 }
.page4 {
	background-image: url(img/dogs.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	 }
.podrobnee {
	font-family: 'Verdana', 'Times New Roman' ;
	font-size: 1.5em;
	color: orange;
	text-shadow: gray 3px 3px 13px;
	height:10px ;
	min-height: 100px;
	float:right;
	background: rgba(0,0,0,0.4);
	text-align: center;
	border-radius: 50%;
	 }