
div {
    display: block;
}

.button-block {
    margin: 20px auto;
    width: max-content;
}

h1 {
    text-align: center;
}

#htmlExecute {
    margin: 30px auto;
    background-color: #ddd;
    border: 2px solid #777;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.result-block {
    display: none;
    margin-top: 50px;
}

table td + td, table th + th {
    border-left: 1px solid black;
}
table th{
    cursor: pointer;
}
table th, table td {
    padding: 0 20px;
}