html {
    font-family: Arial;
    
}

/* Заголовки */
h1 {
    font-size: 30px;
}

/* Таблицы */
table {
     font-size: 15px;
}

table th {
    padding: 5px;
    border: 1px solid lightgray;
    font-weight: bold;
    text-align: left;
}

table td {
    padding: 5px;
    border: 1px solid lightgray;
}

table td:nth-child(2) {
    width: 200px;
}

table td:nth-child(3) {
    width: 300px;
}

table td:nth-child(4), table td:nth-child(5){
    width: 150px;
}

/* Кнопки */
button {
    width: 150px;
    height: 30px;
    background-color: lightgrey;
    font-size: 15px;
    border: 1px solid darkgrey;
}

/* Форма */
input {
    width: 300px;
    height: 30px;
    font-size: 14px;
    padding: 0 2px;
}

textarea {
    width: 300px;
    height: 200px;
    padding: 2px;
    margin: 5px;
}

.form p {
    margin: 15px 0 5px 0;
}