<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>php_Lab8</title>
    <link rel="stylesheet" href="../asset/css/style.css">
</head>
<body>
    <header>
        <button onclick="window.location='../admin/adminNewNews.php'">Add news</button>
    </header>
    <div class="newsContainer">%s</div>
</body>
</html>