<div class="newsCard">
    <h3>%1$s</h3>
    <span>%2$s</span>
    <div>
        <button onclick="window.location='../Controller/deleteNews/?idNews=%3$s'">Delete</button>
        <button onclick="window.location='../asset/tmpl/adminEditNews.php?idNews=%3$s&nameNews=%1$s&textNews=%2$s'">Edit</button>
    </div>
</div>